# Ignore Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-workspace

# Ignore Terraform state files
terraform/.terraform/
terraform/terraform.tfstate*
terraform/.terraform.lock.hcl

# Ignore Docker build files
*.log
docker-compose.override.yml

# Ignore secrets (DO NOT COMMIT)
.env
*.key
*.pem

# Ignore Jenkins and Kubernetes files
jenkins/workspace/
k8s/*.log
